<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container container-sm">
    <h2>My Applications</h2>
    <br />
    <table class="table table-bordered table-striped">
      <tr>
        <th>Date</th>
        <th>Project Name</th>
        <th>Status</th>
      </tr>
      <% for(var i=0; i<rows.length; i++) {%>
      <tr><td><%= rows[i].Date %></td><td><%= rows[i].Project_name %></td><td><%= rows[i].Status %></td></tr>
      <% } %>
    </table>
    <a href="/me">
      <span class="icon glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
  </div>
</body>
</html>

