body {
  color: #333;
}

.container-sm {
  width: 600px;
}

.center {
  margin: auto;
}

.inner-center {
  text-align: center;
}

.half-width {
  width: 50%;
}

.third-width {
  width: 33%;
}

.icon {
  font-size: 26px;
}

.error {
  font-size: 12px;
  color: red;
}

a {
  cursor: pointer;
}
